h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', 'Plan estratégico organizacional', 'main.html#page/plan_estrategico_organizacional/')
                    +navTemaItem('2', 'Estrategias de marketing digital', 'main.html#page/estrategias_marketing_digital/')
                    +navTemaItem('3', 'Segmentación de mercados', 'main.html#page/segmentacion_mercados/')
                    +navTemaItem('4', 'Comunicación de marketing digital', 'main.html#page/comunicacion_marketing_digital/')
                   
                    
                    