.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Buyer persona:
            | es el modelo o tipo del cliente ideal para la compañía frente al producto ofertado.
        hr
        p
            strong.mr-2 Co-creación:
            | es el involucramiento del cliente en el desarrollo del producto.
        hr
        p
            strong.mr-2 Conversión:
            | son las interacciones que realiza un usuario en el sitio web gracias a las estrategias de contenidos propuestas en el plan de marketing.
        hr
        p
            strong.mr-2 MailChimp:
            | plataforma de marketing gratuita que permite compartir campañas de marketing en las cuales se puede diseñar, enviar y calcular el impacto de la campaña desde el e-marketing.
        hr
        p
            strong.mr-2 Plan estratégico: 
            | documento que involucra todas las áreas o procesos de la compañía que permite abordar los objetivos y alcanzar su visión empresarial. 
        hr
        p
            strong.mr-2 Remarketing: 
            | es un sistema de adaptación y personalización de anuncios a los usuarios que visitan con anterioridad la página web de la empresa. También conocido como retargetin.
        