.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Andrés J. Chocron, 2018. Introducción al remarketing
                    td Pagina web
                    td 
                        a(href="https://medium.com/aj-chocron/introducci%C3%B3n-al-remarketing-d9817f674ec4", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar   
                tr
                    td MailChimp
                    td Pagina web
                    td 
                        a(href="https://mailchimp.com/es/help/getting-started-with-mailchimp/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar              
                tr
                    td Prettel Vidal Gustavo, 2012. Marketing a su alcance
                    td Libro digital - Biblioteca digital SENA 
                    td 
                        a(href="http://www.digitaliapublishing.com.bdigital.sena.edu.co/a/47664/el-marketing-a-su-alcance--teorias-y-su-aplicacion-en-el-contexto-colombiano", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     
                tr
                    td Vidal Pro-Digital
                    td Página Web 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4393&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar
                tr
                    td Virtual Training Lteam, 2016. Partes Interesadas Stakeholders.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=9AtaIAZEu0c", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 