.container#tema_1

    .header-ecored
        h1 1. Plan estratégico organizacional  

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Análisis de la situación del entorno
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2L03LI44M0Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Análisis externo: entorno, mercado y competencia  
              p.mb-4 El análisis externo permite identificar la evolución del mercado mediante la observación de su comportamiento pasado, presente y futuro, teniendo en cuenta los factores del entorno, entre los que están: 
              .list.mb-4
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  p #[strong Entorno.] Influye en las decisiones de la empresa afectando su política y gestión hacia el cliente, se consideran:
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p #[strong Entorno político] es un factor externo de la empresa el cual no se puede controlar.  En él actúa la estabilidad política, las leyes y normatividad y los grupos de influencia política, por lo cual es importante conocer cómo actúan las leyes en la sociedad y cómo afectarían el rumbo de la organización. Para analizar el entorno político las empresas disponen de una herramienta estratégica que más adelante se analizará a profundidad que es el análisis PESTEL en el cual se analizan los factores Políticos, Económicos, Sociales y Tecnológicos que afectan a la empresa.  
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p #[strong Entorno económico] se encuentra relacionado con los factores externos que influyen en las decisiones de compra y los patrones de compra de los consumidores como son los ingresos, el empleo, la inflación, los impuestos. 
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p #[strong Entorno sociocultural] compuesto por el entorno social y cultural en el que se desenvuelve en individuo como son los valores, la cultura, las familias.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p #[strong Entorno tecnológico] se relaciona con herramientas, servicios y soportes tecnológicos, es decir los avances tecnológicos en los cuales se está involucrando la sociedad y en los cuales las empresas deben de invertir más para afrontar los avances y ser más competitiva.

              .list.mb-4
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  p #[strong Competencia.] Es importante conocer las condiciones del mercado con el fin de que las estrategias propuestas en el plan estratégico organizacional sean efectivas, en la etapa de diagnóstico del plan se logra:
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Identificar el mercado de referencia en un mercado heterogéneo, basado en las necesidades y motivaciones de compra, hallando el mercado atractivo para la empresa en mercados homogéneos.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Analizar el mercado respecto al comportamiento de consumo del individuo para saber si la empresa está en condiciones de satisfacer sus necesidades.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Considerar el mercado respecto al volumen de ventas, se debe tener claridad de qué segmentos se tomarán y de allí establecer las dimensiones de análisis como:  la estimación del mercado potencial y la demanda global, la cuota del mercado y los índices de consumo.
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  p #[strong Mercado.] Se deben identificar los competidores existentes, es decir, quienes sirven al mercado meta con productos y servicios similares, teniendo en cuenta factores como:
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Como es su organización.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Como es su distribución. 
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Cuáles son sus canales de comunicación. 
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                    .list__txt
                      p Cuál es su posicionamiento.

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-5 Análisis interno: empresa, producto, precio, distribución y comunicación.

      .row.justify-content-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width:100%").img-fluid 

      .row
        .col-12
          p.mb-4 El análisis interno permite a la empresa identificar los componentes del #[strong microentorno:] 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Mercado de clientes (segmentos):] todos los posibles compradores. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Competencia:] implementación de estrategias innovadoras que proporcionen mayor valor a sus clientes que la competencia. Se debe de conocer muy bien la competencia para poder tomar decisiones acertadas frente al mercado.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Proveedores:] quienes suministran a la empresa los recursos necesarios para producir los bienes o servicios ofertados. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Intermediarios:] distribuidores que ayudan a la empresa a llevar sus productos o servicios a los clientes (distribuidores, servicios de marketing) y los intermediarios financieros que financian las transacciones o aseguran los riesgos asociados al negocio. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Grupos de interés:] público interesado en la capacidad de la empresa para lograr sus objetivos.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Entorno interno de la empresa:] áreas funcionales de la empresa como producción, financiera, marketing y organización general. 
        .col-12
          p Una vez conocidas las áreas de la compañía, los recursos y capacidades de la empresa se establecen los puntos fuertes y débiles que se abordan en el siguiente tratado.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2.	Análisis FLOR - PESTEL- CAME

      .row.justify-content-center      
        .col.mb-5      
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-0 #[strong FLOR:] el término es el acrónimo de Fortalezas, Limitaciones, Oportunidades y Retos, esta herramienta de análisis es de gran ayuda a las empresas para equilibrar sus Fortalezas y Retos que son factores internos de empresa y sus Limitaciones y Oportunidades son factores externos de la empresa para enfrentarse a un entorno específico, ayudándose de la herramienta PESTEL que analiza de manera más detallada al entorno. 

        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_2_01.svg",alt="").img-fluid 

        .col-12
          p #[strong La herramienta FLOR tiene el mismo enfoque de análisis del entorno interno y externo que la Matriz DOFA o FODA (Debilidades, Oportunidades, Fortalezas y Amenazas);] solo que, las Debilidades son Retos para la empresa y las Amenazas son Limitantes externas.
          p Esta herramienta ayuda a tomar decisiones para la elaboración del plan de marketing digital llevándolo a la estrategia comercial que busca toda organización y es de gran utilidad para el planteamiento de objetivos. 

      .hr-divider.my-5

      .row.justify-content-center      
        .col.mb-5      
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-0 #[strong PESTEL:] esta herramienta ayuda a entender el entorno en el que la empresa opera en cuanto a cada una de las variables que analiza, a saber, factores Políticos, Económicos, Sociales, Tecnológicos, Ecológicos y Legales, así:
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_2_02.svg",alt="").img-fluid 

        .col-auto
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Políticos:] tratados comerciales, niveles de estabilidad política, porcentajes de corrupción.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Económicos:] producto Interno Bruto (PIB), nivel de producción, moneda, tipo de cambio.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Sociopolítico:] nivel de vida, distribución de renta, estilo de vida, situación demográfica.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Tecnológicos:] Investigación y Desarrollo (I+D), ayudas a las investigaciones tecnológicas.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Ecológicos:] protección al medio ambiente.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Legal:] patentes, licencias. 

      .hr-divider.my-5

      .row.justify-content-center      
        .col-12.mb-5      
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-0 #[strong CAME:] acrónimo de Corregir, Afrontar, Modificar y Explotar, esta herramienta permite definir el plan estratégico de la empresa después de haber realizado el análisis FLOR, se identifican qué factores se pueden corregir, afrontar, mantener y explotar, se deben sacar conclusiones, pero lo más importante es aplicar las estrategias y se definen así:

        .col-12.col-lg-5.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_2_03.svg",alt="", style="width:100%").img-fluid 

        .col-auto
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Corregir las debilidades convirtiéndolas en Retos. 
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Afrontar las limitantes que presenta el mercado (entorno).
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Mantener las fortalezas internas del negocio.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Explotar las oportunidades que brinda el mercado.
        



     

      

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3. Decisiones estratégicas

      .row.justify-content-center.align-items-center  
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_3_01.svg", alt="").img-fluid       
        .col-12
          p Las decisiones estratégicas ayudarán a la empresa a dar el rumbo del plan de marketing digital teniendo en cuenta las cuatro variables principales a analizar (producto, precio, promoción, publicidad), estando estas en función de los objetivos identificados en el análisis del entorno interno y externo, permitiendo así alcanzar las metas de las organizaciones con estrategias comerciales efectivas.