.container#tema_2

    .header-ecored
        h1 2. Estrategias de marketing digital 

    .jumbotron.bg-white     
      
      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/img_2_01.svg", alt="").img-fluid 
        .col-12
          p.mb-0 Generar estrategias para el #[i marketing] digital ayuda a la organización a captar y fidelizar los públicos objetivos con menores costos, permitiendo ajustar las estrategias en menor tiempo y así ejecutarlas con mayor efectividad.

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Objetivos de #[i marketing] digital 
      
      .row.justify-content-center.mb-5   
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/img_2_1_01.svg", alt="").img-fluid 
        .col-12
          .jumbotron.mb-0
            p.mb-0 Los objetivos de toda organización deben plantearse con base en el modelo SMART (acrónimo del inglés Specific, Measurable, Achievable, Relevant, Tymely) que permite diseñar metas claras y precisas, además de brindar información relevante y medible, deben sustentarse bajo hipótesis de acuerdo con el análisis de la situación, y estar escritos y comunicados a todas la UEN. Cada uno de los factores del método se caracteriza por ser: 

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="")
              .card__body 
                p.mb-3 #[strong S - specific / específico]
                p.mb-0 Claramente detallados y definidos de forma que sean de fácil comprensión frente al objetivo final. No se deben distanciar de las políticas de la organización.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_1_02.svg", alt="")
              .card__body 
                p.mb-3 #[strong M - measurable / medible]
                p.mb-0 Mediante indicadores de gestión se identifica si las acciones definidas han dado resultado o deben replantearse. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_1_03.svg", alt="")
              .card__body 
                p.mb-3 #[strong A - achievable / alcanzable]
                p.mb-0 Los objetivos deben ser posibles de realizar, sin dejar de ser ambiciosos. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_1_04.svg", alt="")
              .card__body 
                p.mb-3 #[strong R - relevant / realista]
                p.mb-0 Las metas deben ser factibles de acuerdo con los recursos financieros, físicos y de talento humano con que cuente la empresa.  
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_1_05.svg", alt="")
              .card__body 
                p.mb-3 #[strong T - timely / en el tiempo]
                p.mb-0 El objetivo debe definirse en un periodo de tiempo acorde con el plan estratégico.
      .row  
        .jumbotron.mb-0
          .col-12
            p.mb-0 Según Kotler y Lane (2006) proponen definir los objetivos en el siguiente orden: en primer lugar los objetivos de beneficios, en segundo lugar los objetivos de ventas y por último los objetivos de los clientes.

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Estrategias de Porter

      .row.justify-content-center.mb-5 
        .col-12
          p.mb-5 Las estrategias competitivas de Michael Porter tienen como objetivo, identificar las ventajas competitivas y los factores de diferenciación que tiene la empresa para entrar en el entorno productivo y sobresalir entre la competencia.
          p Estas estrategias deben tener un enfoque:

      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_01.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Por costos]
          p.mb-0 Consiste en obtener los costos más bajos para la empresa, implementando producciones en serie de gran cantidad de productos. Teniendo como resultado la disminución del costo de producción y precios competitivos sin castigar la utilidad.

      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_02.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Por diferenciación]
          p.mb-0 Se trata de la especialización de producto, de un proceso de manufactura o de logística que permite que la empresa sea única y tenga un valor agregado para el cliente. 

      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_03.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Por enfoque]
          p.mb-0 la empresa puede definir un segmento de mercado específico y a través del #[i marketing] digital generar contenidos para captar su audiencia, generar los #[i leads] y alcanzar la conversión.

      .hr-divider.my-5

      .row.mb-5
        .col-12
          p.mb-0 Dado que el #[i marketing] evoluciona, en el aspecto digital las empresas pasan de considerar las 4P (Precio, Plaza, Promoción y Publicidad) a las 7P donde se tienen en cuenta además de las anteriores las siguientes variables:

      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_04.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Público]
          p.mb-0 Se debe tener claro quién es el cliente y cómo la marca se comunica al público objetivo, identificando el “Buyer persona” o cliente ideal para la compañía frente al producto ofertado.
      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_05.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Proceso]
          p.mb-0 Métodos utilizados para mejorar el desempeño de la estrategia de posicionamiento como la monitorización de Social Media Optimización (SMO) con entrevistas de fidelización.
      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_06.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Presencia]
          p.mb-0 Momentos de contacto físico o virtual con el cliente que permiten la construcción de relaciones comerciales duraderas.

      .hr-divider.my-5

      .row.mb-5
        .col-12
          p Las estrategias de promoción y ventas de una empresa tienen como objetivo llevar al cliente a la decisión de compra, generar conversiones logrando los objetivos de ventas y luego favorecer el intercambio constante entre las dos partes para generar retención y fomentar la permanencia del usuario.
          p.mb-0 Para ello se pueden elegir estrategias #[i pull] y #[ipush].

      .row.justify-content-center.mb-5 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_07.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Estrategia #[i pull] o de atracción]
          p.mb-0 Es aquella en la que el productor mediante acciones de #[i marketing] orientadas hacia la publicidad y la promoción se enfoca en los consumidores finales para atraer al público y genera colaboración y conversión.

      .row.justify-content-center.mb-6 
        .col-auto
          img(src="assets/images/pages/tema_2/topic_2_2_08.svg", alt="", style="width:65px")
        .col
          p.mb-2 #[strong Estrategia push o de empuje]
          p.mb-0 En esta estrategia el productor concentra sus acciones de promoción en los distribuidores quienes a su vez promueven el producto o servicio hacia el consumidor final.

      .row.justify-content-center.my-5
        .col-12.mb-3
          .header-arrow
            h3.text-center Dimensiones de la propuesta de valor de 4P a 4C a 4V de #[i marketing]       

      .row.mb-5
        .col-12.mb-3
          p A partir de la estrategia de las 4P que contiene los elementos del mix de #[i marketing] nace la estrategia del #[i marketing] basada en las 4C que llevan al acompañamiento del consumidor siendo este el centro de atracción y la compañía lo hace participe en el desarrollo de los productos o también conocido como el proceso de “co-creación”. El concepto de las 4C lo componen: 
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Consumidor:] se busca vender un producto deseado por el cliente.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Costo:] satisfacer sus necesidades, el cliente decide a quien compra y a como lo compra.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Comunicación:] está enfocada hacia los consumidores, en cuanto al lenguaje o los #[i banners] a los que más responde.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Conveniencia:] el enfoque esta dado a lo que el cliente desea y que está dispuesto a realizar para comprarlo.

      .row
        .col-12.mb-3
          p En la estrategia de #[i marketing] digital es necesario enfocarse en los clientes lo que da paso a un nuevo modelo que se centra en la comunicación para dar valor y generar experiencias personalizadas y significativas en el cliente, sus componentes son:
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Validez:] el producto debe estar enfocado y adaptado a los diferentes targets. Por ejemplo, una línea de tenis con diferentes estilos: económicos, clásicos y diferentes precios.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Valor:] el cliente da valor a su dinero volviéndose más exigente, acá es donde se da un valor diferencial haciendo que los clientes elijan la organización a la cual le quieren comprar.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Virtual place:] actualmente el cliente indaga en la #[i web] antes de adquirir su producto y prefiere comprar más por canales digitales que en tiendas físicas. Hoy en día la tienda llega al cliente, facilitando la compra, así que el cliente no tiene que salir a buscarla.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Viralidad:] la empresa debe publicar y diseñar contenido interesante para el usuario de forma que pueda difundirlo y compartirlo con los demás generando viralidad y así lograr llegar a un público más amplio. 

      .row.justify-content-center.my-5        
        .col-12.col-lg-9.d-flex.justify-content-center
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="", style="width:100%").img-fluid 

      .jumbotron.mb-0
        .row.align-items-center  
          .col-auto
            img(src="assets/images/pages/tema_2/icon_2_1_06.svg", alt="", style="width:65px")
          .col
            p.mb-0 Para conseguir la máxima conversión se debe tener en cuenta factores como la accesibilidad, la usabilidad y el diseño en el entorno digital de la empresa. 