include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Marketing Digital
        meta(meta name="description" content="Ruta de aprendizaje programa Marketing Digital.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo #[em Marketing] Digital
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] #[em Marketing] Digital
                                        li 
                                            span #[strong Código:] 62110000
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Se requiere que tenga dominio de elementos básicos de herramientas informáticas como: correo electrónico, chats, navegadores de internet y redes sociales, otros sistemas y herramientas tecnológicas necesarias para la formación virtual.

                                            ul.bg-brand-color-dark.text-white 
                                                li 
                                                    span Cumplir con el trámite de selección definido por el Centro.
                                                li 
                                                    span Tener los datos actualizados en el aplicativo SOFIA PLUS.
                                                li 
                                                    span Cumplir con la formación del programa en su totalidad.


                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SIHD5pFtkJE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Bienvenidos al mundo del #[em marketing] digital, la herramienta competitiva del mundo globalizado.

                p Factores como la revolución tecnológica, el ritmo acelerado de vida y el cambio en el comportamiento del consumidor, que pasó de ser análogo a convertirse en un consumidor digital y la nueva forma de hacer negocios, ha llevado a las empresas de hoy a reinventarse, encontrando alternativas digitales que las lleve a moverse en mercados competitivos, donde la manera de comunicarse, acerca a la empresa al consumidor, estableciendo una relación directa haciendo uso de los diferentes medios de comunicación y  las redes sociales, con el fin de captar el interés de las personas para convertirlos en clientes potenciales. La oferta de productos o servicios con inmejorables condiciones de información, rapidez y rentabilidad, beneficia a las empresas alcanzando mayor cobertura y dinamización de los negocios; además, generar en el consumidor satisfacción por la inmediatez en la respuesta.

                p Durante el desarrollo de esta formación, se abordarán temas tan importantes como la estructuración de la estrategia de mercadeo digital, de acuerdo con objetivos de una campaña publicitaria, la normatividad legal vigente y, ante todo, la estrategia de comunicación según el modelo de gestión empresarial.

                p El espacio virtual genera en el público objetivo un gran y estimulante atractivo, y esta formación no podría ser ajena a este proceso; es por lo que, a través del uso constante de las Tecnologías de la Información y la Comunicación, se incorporarán herramientas en el proceso formativo de #[em marketing] que nos acerquen a los clientes, dando lugar al denominado #[em marketing] electrónico o digital.

                p Durante el proceso de formación, usted tendrá la oportunidad de realizar un análisis estratégico desde el comportamiento del mercado, la empresa y el producto o servicio que se quiere impulsar; este es un paso muy importante para poder definir los objetivos de campaña y planes de acción, ya que le permitirá tener un panorama global del mercado y, a su vez, conocer hacia dónde quiere ir la empresa y cómo va a llegar hasta allí.

                p Otro aspecto, no menos importante, es el cliente. Quién es, su comportamiento, gustos y ante todo lo que busca, son aspectos que quizá pasen inadvertidos para otro tipo de profesiones, pero para el #[em marketing] digital son el principal insumo. A través de esta formación, podrá obtener una idea clara de quién es el cliente ideal, lo que ayuda a generar una estrategia de #[em marketing] sólida y confiable con contenidos de calidad que le permita a la empresa la incorporación de nuevos productos y servicios y, principalmente, la fidelización del cliente.

                p Entender la psicología del consumidor y su percepción del mercado es clave, ¿por qué y para qué compramos?, son preguntas que necesariamente se deben responder desde el #[em marketing] digital, porque permite crear un vínculo con los consumidores, lo que genera recordación de la marca y posicionamiento de la empresa. Esta es otra competencia que se abordará en el programa de formación, #[em marketing] digital.

                p Finalmente, al estudiar la analítica de datos donde usted, por medio de ejercicios prácticos, comprenderá mejor el comportamiento de los consumidores y el mercado, contando con herramientas de análisis que ayudan a tener la información en tiempo real.



                p Nuevamente bienvenidos al programa de #[em marketing] digital, que les compartirá las herramientas necesarias para expandir su visión de negocio y aplicación de estrategias en el mundo de hoy.



        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 En la actualidad, un gran número de empresas están orientadas al #[em marketing] digital, basan sus negocios en las demandas reales del mercado y, por ello, fijan su atención en el enorme atractivo que un espacio virtual provoca en el público objetivo.

                p El programa de formación complementaria en #[em marketing] digital desarrolla habilidades para la optimización de entornos digitales con herramientas utilizadas como medios para llegar a sus clientes; las Tecnologías de la Información y la Comunicación -TIC, dan lugar al denominado #[em marketing] digital o electrónico, alcanzando objetivos digitales y de telecomunicación; siendo internet la herramienta más significativa para conectar y permitir la segmentación, focalización y realización de conversiones de ventas.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa #[em marketing] digital va dirigido a supervisores y administradores de ventas y servicios, asistentes de mercadeo y todas aquellas personas que deseen adquirir conocimientos para estructurar una campaña de #[em marketing online]. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las Tecnologías de la Información y la Comunicación (TIC), integradas en ambientes virtuales de aprendizaje que recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, estimula de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra, a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





